:root {
  --primary: #e99401;
  --black: #262626;
  --white: #FFF;
  --font-primary: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--font-primary);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="conteiner"], 
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}
.error,
.error-link{
  font-size: 2.4rem;
  text-align: center;
  margin-top: 5rem;
}
.error-link{
  font-size: 1.8rem;
  display: block;
  text-decoration:none;

  background-color: var(--black);
  color: var(--white);
  padding: 1rem;

  width: min(85%, 120rem);
  margin: 3rem auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
}
@media (min-width: 768px){
  .error-link{
    width: min(35%, 120rem);
  }
}

.error-link:hover {
  background-color: var(--primary);
}